*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    /* background-color:rgb(29, 27, 27) ; */
    color: whitesmoke;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7)0, rgba(0,0,0,0.7) ),url(IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    padding: 15px 6px;
}
h1{
    padding: 200px 0px 0px 180px;
    font-size: 60px;
}
p{
    padding: 10px 0px 0px 500px;
    font-size: 25px;
}
.p1{
    padding: 20px 0px 0px 300px;
    font-size: 25px;
}
input{
    padding: 18px 200px 18px 10px;
    margin: 0px 0px 0px 400px;
    background-color: rgb(37, 34, 34);
    color: rgb(154, 148, 148);
    border: 0.1px solid rgb(221, 199, 199) ;
    border-radius: 5px;
}
button{
    padding: 18px 30px 18px 30px;
    margin: 0px 0px 0px 10px;
    background-color: rgb(229, 24, 24);
    color: white;
    border: 2px;
    border-radius: 5px;
    font-size: 15px;

}